body{
	font-family: sans-serif;
	background-image: url("src/bg2.jpg");
	background-size: cover;
	color: black; 
}

a:hover{
	color: red;
}

img.me{
	display: block;
	margin-left: auto;
	margin-right: auto; }

h1{
	text-align: center;
}

h2{
	text-align: center;
}

h3{
	text-align: center;
}

.quote{
	text-align: center;
	background-color: yellow;
}

.word{
	color: red;
	font-weight: bold;
}
